<div class="user-edit-container">

  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <%= f.input :username,
                  required: true,
                  autofocus: true,
                  label: 'Username',
                  # wrapper: :input_group,
                  input_html: { autocomplete: "nickname" }%>
      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  # wrapper: :input_group,
                  input_html: { autocomplete: "first_name" }%>
      <%= f.input :password,
                  required: true,
                  # wrapper: :input_group,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :city,
                  required: true,
                  # wrapper: :input_group,
                  input_html: { autocomplete: "age" } %>
      <%= f.input :gender,
                  required: true,
                  # wrapper: :input_group,
                  input_html: { autocomplete: "age" } %>
      <%= f.input :bio,
              required: true,
              # wrapper: :input_group,
              input_html: { autocomplete: "about_me" } %>
      <%= f.input :linkedin_link,
              required: true,
              # wrapper: :input_group,
              input_html: { autocomplete: "about_me" } %>
      <%= f.input :github_link,
              required: true,
              # wrapper: :input_group,
              input_html: { autocomplete: "about_me" } %>
      <%= f.input :programming_languages,
              # wrapper: :input_group,
              as: :select,
              collection: ['Python', 'SQL', 'HTML&CSS', "Ruby", "R", "PHP", "Java", "JavaScript", 'Kotlin', 'React', 'Rust', 'Node.js', '.NET', 'Dart', 'Low-Code & No-Code', 'Prompt Engineering']
                %>
      <%= f.input :topic_interest,
                  required: true,
                  # wrapper: :input_group,
                  input_html: { autocomplete: "preferred_date_ideas" } %>
      <%= f.input :communities, collection: %w(Male Female Trans-Man Trans-Woman Non-binary Non-conforming Not-sharing),
                  as: :select,
                  multiple: true,
                  # wrapper: :input_group,
                  label: 'Communities' %>
    </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>
</div>
