 <% if current_user %>
  <div class="nav-items">
    <div class="codebuddy-logo">
      <strong style="color: blue; font-size: 24px;">CodeBuddy</strong>
    </div>
    <div class="nav-buttons" style="float: right;">
      <%= link_to "Home", "#", class: "nav-link" %>
      <%= link_to "My Buddy", "#", class: "nav-link" %>
      <%= link_to "Profile", user_path(current_user.id), class: "nav-link" %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      <%= link_to "Login", user_session_path, class: "nav-button" %>
      <%= link_to "Join now", new_user_registration_path, class: "nav-button" %>
    </div>
  </div>
<% else %>
  <div class="nav-items" style="float: left;">
    <div class="codebuddy-logo">
      <strong style="color: blue; font-size: 24px;">CodeBuddy</strong>
    </div>
    <div class="nav-buttons" style="float: right;">
      <%= link_to "Home", "#", class: "nav-link" %>
      <%= link_to "My Buddy", "#", class: "nav-link" %>
      <%= link_to "Profile", "#", class: "nav-link" %>
      <%= link_to "Sign out", "#", class: "nav-link" %>
      <%= link_to "Login", user_session_path, class: "nav-button rounded-button" %>
      <%= link_to "Join now", new_user_registration_path, class: "nav-button rounded-button" %>
    </div>
  </div>
<% end %>
