<div class="profile-container">
  <% if current_user %>
    <div class="profile-card">
      <div class="profile-summary">
        <h2><%= username %></h2>
        <h3><%= first_name %> <%= last_name %></h3>
      </div>
      <div class="edit-profile">
        <%= link_to "🖉", edit_user_registration_path, class: "edit-profile-link" %>
      </div>
    </div>
        <h3><%= current_user.city %></h3>
        <h4><%= current_user.bio %></h4>
    <div class="profile-interest">
      <div class="user-profile-language">
        <h5>programming languages</h5>
        <% current_user.programming_languages.each_with_index do |language, index|  %>
          <% next if index == 0 %>
          <p><%= language %></p>
        <% end %>
      </div>
      <div class="user-profile-language">
        <h5>Topic of interest</h5>
        <% topic_interest.each_with_index do |topic, index|  %>
          <% next if index == 0 %>
          <p><%= topic %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
